*{
    font-family: 'Times New Roman', Times, serif;
    
}
.card {
    box-shadow: 10px 10px 10px rgba(0,0,0,0.1);
    padding: 10px;
    border-radius: 10px;
  }
  .image{
    width:120px;
    height:120px;
  }